<section class="products-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="panel panel-default">
    <!-- <div class="panel-heading">Our Store</div> -->
    <div class="panel-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellendus ratione fugit corporis unde nobis
      eligendi quisquam inventore est aliquid ducimus magnam aliquam aspernatur repellat provident ex, perspiciatis
      error hic?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellendus ratione fugit corporis unde nobis
      eligendi quisquam inventore est aliquid ducimus magnam aliquam aspernatur repellat provident ex, perspiciatis
      error hic?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellendus ratione fugit corporis unde nobis
      eligendi quisquam inventore est aliquid ducimus magnam aliquam aspernatur repellat provident ex, perspiciatis
      error hic?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellendus ratione fugit corporis unde nobis
      eligendi quisquam inventore est aliquid ducimus magnam aliquam aspernatur repellat provident ex, perspiciatis
      error hic?
    </div>
  </div>

</section>